<p>custom-directive works!</p>
<div class="container">

    <h1 [ngClass]="'colors'">Using Custom directives </h1>
    <div appColorChange>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda culpa saepe, pariatur eligendi cum, voluptatum iste laborum tenetur provident vitae alias natus voluptate totam ex officia a autem veritatis laboriosam, adipisci consequuntur iusto magnam quis sit non! Itaque fugiat accusamus, tenetur ducimus ex deleniti voluptatibus similique reiciendis earum nisi vero nostrum aliquam aut natus ullam. Ratione, iusto consequuntur quidem minus facilis reprehenderit quis incidunt nostrum ut nulla provident eius quaerat error dolorum expedita libero aperiam fugiat similique numquam praesentium in. Consequuntur ut sapiente omnis consequatur expedita iure architecto corporis repudiandae modi suscipit. Nemo eum voluptatum totam excepturi ullam, quos accusantium?</div>
    <div appEmoji="Srujana"> 

        Using Emoji Directive Input
    </div>

    <p appEmoji={{text}}> This is the user text</p>
</div>
<br>
