<div class='container' style="background-color: lightpink; text-align: center;">
  <h1 style="color: green">My Angular practise app</h1>
{{title}}
<div style="color:blue">
Title : <input type="text" value={{title}}>
<br>
Name : <input type="text" [(ngModel)]="fullName" > <br>
<button (click)= "getName()" type="submit" >RESET NAME</button>
</div>

<!-- </div> -->


<div class='container' style="background-color: rgb(238, 225, 250); text-align: center; text-emphasis: initial;">
<h1 [innerText]="hello"></h1>
 <h2 style="color: red"> Enter details.. </h2>

Enter {{name}} : <input type=[text] value={{nameDefault}}><br><br>
<a [href]="url">Click here</a> for more details.. 
<button (click)="getDefault()" [type]="actionType">SUBMIT</button>
<br><br>

</div>

<br><br>
<div class="card-deck" style="background-color: limegreen">
  <h1 class="accordion-header">Age Details...</h1><br>
Enter Age: <input type=[text] [(ngModel)]="age" class="form-control-color">
<button (click)="getAge()" [type]="actionType">GET DEFAULT AGE</button>
</div>
<br><br>

<div class="container">
<!-- <app-company></app-company> -->
<div app="app-company" style="background-color: greenyellow;"></div>
<!-- <app-student></app-student> -->
<div class="app-student" style="background-color: lightskyblue;"></div>
<br>
<div class="app-ng-switch" style="background-color: darkolivegreen;"></div>
<br>
<div app-ng-class style="background-color: lightsalmon;"></div>
<br>
<div app="app-ng-if" style="background-color: limegreen;"></div>
<br>
<div class="app-html-practise" style="background-color: chocolate;"></div>
<br>
<div app-ng-style style="background-color: blueviolet;"></div>
</div>
<br>
<div app-custom-directive style="background-color: cyan;" ></div>
<br><br><br>
