<p>html-practise works!</p>
<div class="container">
    <h1> <b> My HTML Practise Session</b>    </h1>
<label><i>My label text in italics</i></label>
<p><i>My para text in italics</i></p>
<p><em>My para text in em</em></p>
<label><u>Label text underlined</u></label>
<p><mark>This is marked para</mark></p>
<label><cite>This is my cited label</cite></label>
</div>
<div class="container">
    <form class="form-group">    
        <label>FirstName: <input type="text" [(ngModel)]="fname" name="fname">{{fname}}</label>
    </form>
</div>
