<p [ngClass]="'bold italic caps'">ng-class works!</p>
<div class="container" [ngClass] = "'image bold red'">

    <h1 [ngClass] = "['italic bold caps red']"> My Text goes here... </h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugiat aspernatur, error sequi delectus nulla assumenda quis molestias atque rerum quaerat sint rem voluptatem vitae quas inventore enim est at.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur neque adipisci, nesciunt modi perspiciatis laboriosam soluta non, amet blanditiis atque eius error quas explicabo magni praesentium delectus vitae doloremque beatae.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquam minus temporibus, unde culpa labore modi eius nam quos obcaecati! Quasi reiciendis earum nesciunt omnis praesentium perspiciatis hic est aut?
 
    <div [ngClass]="'bold red italic'">This is in itaclics</div>

    <div [ngClass]="{'bold':true,'italic':true}">This is from Object type</div>
</div>
